<section class="section">
  <div class="contanier">
    <div class="box" (click)=selectedanime()>
      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>name</strong>
              <br>
              overview
            </p>
          </div>
        </div>
        <div class="media-right">
        </div>
      </article>
    </div>
  </div>
</section>
