<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      <img src="/assets/logo1.png" alt="A robust anime renamer" width="70" height="90">
    </div>
    <div class="navbar-item">
      <h4 class="title is-4">
        Anime Renamer
      </h4>
    </div>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <button class="button is-link is-light" (click)="helptoggle()"><i class="far fa-question-circle"></i>
        <strong>Help</strong></button>
    </div>
  </div>
</nav>
<section class="hero is-fullheight-with-navbar">
  <section class="section">
    <div class="container">
      <form [formGroup]="selectanime" (ngSubmit)="get_namer(selectanime.value)">
        <article class="media">
          <div class="media-content">
            <p class="has-text-primary is-light" [hidden]="help">First enter the Anime name</p>
            <input formControlName="animename" class="input is-primary" type="text" [value]="dispanime"
              placeholder="Enter the name of the Series/Anime(be presise Naruto,One Piece etc.)"
              [ngClass]="{'is-danger' : (selectanime.get('animename').errors?.required && (selectanime.get('animename').touched || selectanime.get('animename').dirty))}">
          </div>
          <div class="media-right">
            <br [hidden]="help">
            <button type="submit" [disabled]="selectanime.invalid" class="button is-info">Search</button>
          </div>
        </article>
      </form>

      <br>
      <article class="media">
        <div class="media-content">
          <div class="field">
            <div class="control">
              <p class="has-text-primary is-light" [hidden]="help">Select the directory containing the anime</p>
              <input class="input is-primary" type="text" [value]="directory" readonly placeholder="Locaton of anime">
            </div>
          </div>
        </div>
        <div class="media-right">
          <br [hidden]="help">
          <button class="button is-info" [disabled]="locdisable" (click)="get_location()">Browse</button>
        </div>
      </article>

    </div>
    <br>
    <div class="container">

      <div class="columns">
        <div class="column is-one-fifths">
          <button class="button is-warning is-light" [disabled]="disabledbuttons" (click)="prepare()">Prepare</button>
          <p class="has-text-warning is-light" [hidden]="help">Copy files from subfolders to main folder</p>
        </div>
        <div class="column is-one-fifths">
          <button class="button is-info is-light" [disabled]="disabledbuttons" (click)="remove()">Remove</button>
          <p class="has-text-info is-light" [hidden]="help">Remove strings from filename to make leave only episode
            number</p>
        </div>
        <div class="column is-one-fifths">
          <button class="button is-link is-light" [disabled]="disabledbuttons" (click)="rename()">Rename</button>
          <p class="has-text-link is-light" [hidden]="help">Renames files in the folder</p>
        </div>
        <div class="column is-one-fifths">
          <button class="button is-primary is-light" [disabled]="disabledbuttons" (click)="organize()">Organize</button>
          <p class="has-text-primary is-light" [hidden]="help">Oraganize files into season folders</p>
        </div>
        <div class="column is-one-fifths">
          <button class="button is-success is-light" [disabled]="disabledbuttons" (click)="download()">Download</button>
          <p class="has-text-success is-light" [hidden]="help">Downloads metadata for anime</p>
        </div>

      </div>
    </div>
    <br>
    <div class="container">
      <div class="table-container">
        <table class="table is-striped is-fullwidth">
          <thead>
            <tr>
              <th>
                <p class="has-text-centered">Before - filenames</p>
              </th>
              <th>
                <p class="has-text-centered">></p>
              </th>
              <th>
                <p class="has-text-centered">After - filenames(Preview)</p>
              </th>
            </tr>
            <tr *ngFor="let filename of validvideos">
              <td>
                <p class="has-text-centered" [class.has-text-success]="filename.isvalid"
                  [class.is-light]="filename.isvalid" [hidden]="!filename.isvalid">{{filename.src}}</p>
                <p class="has-text-centered" [class.has-text-danger]="!filename.isvalid"
                  [class.is-light]="!filename.isvalid" [hidden]="filename.isvalid">{{filename.src}}</p>
              </td>
              <td class="has-text-centered">></td>
              <td>
                <p class="has-text-centered" [class.has-text-success]="filename.isvalid"
                  [class.is-light]="filename.isvalid" [hidden]="!filename.isvalid">{{filename.dst}}</p>
                <p class="has-text-centered" [class.has-text-danger]="!filename.isvalid"
                  [class.is-light]="!filename.isvalid" [hidden]="filename.isvalid">{{filename.dst}}</p>
              </td>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </section>
</section>
<div id="remover" class="modal" [class.is-active]="toggleremover">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <form [formGroup]="removetext" (ngSubmit)="removetextfn(removetext.value)">
        <article class="media">
          <div class="media-content">
            <input formControlName="subtext" class="input is-primary" type="text" placeholder="Enter text to remove"
              [ngClass]="{'is-danger' : (removetext.get('subtext').errors?.required && (removetext.get('subtext').touched || removetext.get('subtext').dirty))}">
          </div>
          <div class="media-right">
            <button type="submit" [disabled]="removetext.invalid" class="button is-info">Remove</button>
          </div>
        </article>
      </form>
    </div>
  </div>
  <button class="modal-close is-large" (click)="closeremover()" aria-label="close"></button>
</div>
<div class="modal" [class.is-active]="progressbar">
  <div class="modal-background"></div>
  <div class="modal-content">
    <progress class="progress is-large is-info" max="100">60%</progress>
  </div>
  <button class="modal-close is-large" (click)="closeprogressbar()" aria-label="close"></button>
</div>
